* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative !important;
    height: 100vh;
    width: 100vw;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    height: 50px;
    width: 20px;
    background: #1a2c3a;
}

html::-webkit-scrollbar-thumb {
    background: #b89099;
    border-radius: 10px;
}

.card {
    background: linear-gradient(45deg, #6d86ad, #c3fafc, #b89099);
}

.title {
    color: #1a2c3a;
}

.subtitle {
    color: #4887b8;
}

.monster {
    font-family: 'Montserrat', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

#navlist::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    border-radius: 5px;
    width: 0%;
    background: #1a2c3a;
}

#navlist:hover::before {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

html.has-scroll-smooth {
    overflow: hidden;
}

.clip-path {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.cursive {
    font-family: 'Style Script', cursive;
}

.solutions::before {
    content: '';
    position: absolute;
    bottom: 14px;
    left: 0;
    height: 75px;
    border-radius: 5px;
    width: 100%;
    background: #1a2c3a;
    z-index: -1;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.navigation {
    background: rgba(255, 255, 255, 0.4);
}

#hands {
    animation: rotate 3.5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0);
    }
}

@media screen and (max-width: 600px) {
    .solutions::before {
        display: none;
    }
    .solutions {
        background: #1a2c3a;
        border-radius: 50px;
        line-height: 8.5rem;
    }
}
